<div class="well" style="padding: 8px 0;">
  <ul class="nav nav-list tags-list">
    <% @tags.each do |(group,tags)| %>
      <li class="nav-header"><%= (group || "Other").capitalize %></li>
      <% tags.each do |tag| %>
        <% if tag_is_active? tag %>
          <li class="active">
            <%= tag.name %>
            <span class="badge"><%= link_to "x", remove_tag_from_filter_path(tag) %></span>
          </li>
        <% else %>
          <li><%= link_to tag.name, add_tag_to_filter_path(tag) %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>