<div class="row">
  <div class="span10">
    <h1>List of mappings</h1>
  </div>
    <%= link_to "Add a new mapping", new_mapping_path, :class => 'btn', :style => 'float: right' %>
</div>

<div class="row">
  <div class="span3">
    <%= render :partial => "tag_list" %>
  </div>
  <div class="span9">

    <%= render :partial => 'progress_bar' %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Tags</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => "mapping", :collection => @mappings %>
      </tbody>
    </table>

  </div>
</div>