<h1>Dashboard</h1>

<div class="row dashboard">
  <div class="span6">
    <div class="history well">
      <h2>Latest Updates</h2>
      <ul>
        <%= render :partial => 'revision', :collection => @revisions %>
      </ul>
    </div>
  </div>
  <div class="span6">
    <h3>Overall</h3>
    <%= progress_bar_for @overall_progress %>

    <h3>Friendly URLs</h3>
    <%= progress_bar_for @friendly_url_progress %>

    <h3>Mapping Exercise</h3>
    <%= progress_bar_for @mapping_exercise_progress %>
  </div>
</div>