/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require chosen
 *= require_self
 *= require_tree .
*/

body { padding-top: 60px; padding-bottom: 40px; }

h1, h2, h3, .navbar .brand, .nav .nav-header, .btn, label, .nav > li > a { font-family: "Gill Sans", "Helvetica", "Arial", sans-serif; font-weight: normal; }
.navbar .brand { font-size: 20px; color: #fff; }
.btn, label, .nav > li > a { font-size: 14px; }
.nav .nav-header { font-size: 13px; }
h1 { margin-bottom: 10px; }

.pagination { height: 24px; font-size: 0.9em;
  a { padding: 0 10px; line-height: 24px; }
}
.pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 10px;
  line-height: 24px;
  text-decoration: none;
  border: 1px solid #DDD;
  border-left-width: 0;
}
.pagination span.current.disabled { background: #fff; }
.pagination span.current { background: #eee; }
.pagination span:first-child, .pagination span:first-child a {
  border-left-width: 1px;
}

.history {  }
.history > ul { overflow: scroll; height: 45em; margin-left: 0; }
.history > ul > li { padding: 0.85em 0; margin: 0; list-style: none; border-bottom: 1px solid #ddd; }
.history li ul { margin: 0em 0 0em 1em; }
.history li ul li { list-style: none; font-size: 0.9em; line-height: 2.2em; color: #555; padding: 0.1em 0; }
.history li ul li em.value { background: #fffde6; padding: 0.2em 0.5em; border-top: 2px solid #eaefb0; font-style: normal; font-family: monospace; border-bottom: 2px solid #eaefb0; }

.dashboard {
  .history > ul { overflow: auto; height: auto; }
  .history > ul > li { padding: 0.85em 0; }
  .history > ul > li:last-child { padding-bottom: 0; border-bottom: 0; }
  .history > ul > li span { font-size: 0.85em; color: #777; }
}

table.mappings-table { font-size: 0.9em;
  td { padding: 0.6em; }
  td.mapping-url {
    > a { color: #333; }
    span { display: block; font-size: 0.9em;
      // a { color: #333; }
    }
  }
}
table td.mapping-url { word-wrap: break-word; }

ul.selected_filter {
  margin-left: 0; margin-right: 0;

  li {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0.5em;

    h3 { font-size: 1.1em; text-transform: uppercase; color: #999; font-weight: normal; padding: 0.2em 0.85em 0.2em 0; }
  }
  li.tag {
    a {
      -webkit-border-radius: 1px;
      background: #bae6ff;
      border: 1px solid #9ec8e7;
      display: inline-block;
      font-size: 0.95em;
      padding: 0.4em 0.8em;
      margin: 0;
      color: #222;
      text-decoration: none;

      span { color: #375778; display: inline-block; padding-left: 0.85em; font-weight: bold; }
    }
    a:hover, a:active {
      background: #9cc5de;
      color: #1a2227;
      border: 1px solid #7695a8;

      span { color: #1a2227; }
    }
  }
  li.killall-minus-nine {
    a { background: #b33d3f; border: 1px solid #74191a; color: #fff; }
    a:hover, a:active { background: #812c2e; color: #fff; border-color: #430e0f; }
  }
}

.search {
  text-align: right;
  form {
    input { display: inline-block; vertical-align: middle; margin: 0; }
    input[type="text"] { width: 205px; }
  }
}