/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require chosen
 *= require_self
 *= require_tree .
*/

body { padding-top: 60px; padding-bottom: 40px; }

h1, h2, h3, .navbar .brand, .nav .nav-header, .btn, label, .nav > li > a { font-family: "Gill Sans", "Helvetica", "Arial", sans-serif; font-weight: normal; }
.navbar .brand { font-size: 20px; }
.btn, label, .nav > li > a { font-size: 14px; }
.nav .nav-header { font-size: 13px; }
h1 { margin-bottom: 10px; }

.pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #DDD;
  border-left-width: 0;
}
.pagination span.current { background: #eee; }
.pagination span:first-child, .pagination span:first-child a {
  border-left-width: 1px;
}